##############################
## Java
##############################
*.jar
*.war
##############################
## Maven
##############################
target/

##############################
## IntelliJ
##############################
.idea/
*.iml